* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #969696;
}

.container {
  background-color: #04204d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 13rem;
}

#cbatista {
  height: 75px;
  width: 120px;
}

.search {
  display: inline-block;
  position: relative;
  margin: 15px;
}

.search input[type="text"] {
  width: 30rem;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #ed1c24;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: #0067a6;
}

.container-concorrentes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  margin: 2rem;
}

img {
  width: 100px;
  height: 40px;
  margin: 1rem;
}

.concorrente {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
}

.price-card {
  width: 250px;
  height: 264px;
  background-image: linear-gradient(163deg, #ed1c24 0%, #0067a6 100%);
  border-radius: 20px;
  transition: all 0.3s;
  margin-bottom: 10px;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
}

.price-card:hover {
  box-shadow: 0px 0px 30px 1px rgba(237, 28, 36, 0.3);
}
.price-card2 {
  width: 250px;
  height: 264px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  color: #000000;
  padding: 5px;
}
.price-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.imgproduct{
  height: 100%;
  width: 50%;
  margin: 5px;
}

.price {
  font-size: 22px;
  color: red;
  display: flex;
  flex-direction: column;

  border-top: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}

a:visited:link:active {
  color: black;
}
